@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main:#4477F6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Wrapper element */
.scroll-wrapper {
  overflow: auto;
  backdrop-filter: blur(6px); /* Apply blur effect */
}

/* Thin scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); /* Transparent background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(40, 99, 247, 0.6); /* Blurry feel */
  border-radius: 6px;
  backdrop-filter: blur(10px); 
}

